#results {
    background-color:#ededed ;
    color:#282c34 ;
    text-align: left;
    min-height: 10vh;
    border: #d9d9d9 solid 2px;
    padding: 30px;
    color:#282c34 ;
    font-weight: bold;
    
}